body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #010001;
    color: white;
    font-size: 1.5em;
    }
    
.pencil {
    position: relative;
    width: 300px;
    height: 40px;
    transform-origin: center;
    transform: rotate(135deg);
    animation: pencil-animation 10s infinite;
    }
    
@keyframes pencil-animation {
    0% {
    transform: rotate(135deg);
    }
    
    20% {
    transform: rotate(315deg);
    }
    
    45% {
    transform: translateX(300px) rotate(315deg);
    }
    
    55% {
    transform: translateX(300px) rotate(495deg);
    }
    
    100% {
    transform: rotate(495deg);
    }
    }

.pencil_ball-point {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #89d56e;
    height: 10px;
    width: 10px;
    border-radius: 50px;
}
        
.pencil_cap {
    position: absolute;
    left:0px;
    top:20px;
    transform: translateY(-50%);
    clip-path: polygon(20% 40%, 100% 0%, 100% 100%, 20% 60%);
    background: #3bbba6;
    width: 12%;
    height: 100%;
}

.pencil_cap-base {
    position: absolute;
    left: 12%;
    top: 0;
    height: 100%;
    width: 20px;
    background: #ebe8eb;
}
    
.pencil_middle {
    position:absolute;
    left: calc(12% + 20px);
    top: 0;
    height:100%;
    width: 70%;
    background: #09d56e;
}

.pencil_eraser {
    position: absolute;
    left: calc(12% + 70% + 20px);
    top: 0px;
    height: 100%;
    width: 11%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #d199d1;
}
    
.line {
    position: relative;
    top: 80px;
    right: 103px;
    height: 10px;
    width: 1000px;
    z-index: -1;
    border-radius: 50px; 
    background: #89d56e;
    transform: scalex(0);
    transform-origin: center;
    animation: line-animation 10s infinite;
}
    
@keyframes line-animation {
    20% {
    transform: scalex(0);
    }
    
    45% {
    transform: scalex(0.6);
    }
    
    55% {
    transform: scalex(0.6);
    }
    
    100% {
    transform: scalex(0);
    }
}

h2{
    position: relative;
    top: 150px;
    right: 75px;
}